
<div class="section meeting">
	<div class="meeting__bg"></div>
	<div class="layout  layout-x ">
		<div class="paginator"><span>07</span></div>
		<div class="layout layout-s">
			<h2 class="title__section" role="heading" aria-level="2">Как проходят <span>встречи клуба?</span></h2>
			<ul class="meeting__list">
				<li>
					<h3 role="heading" aria-level="3">2 дня плотной работы над твоим бизнесом <br>в живом формате в Москве</h3>
					<p>1. Ты готовишь вопросы, задаешь их на встрече и получаешь обратную связь от участников клуба и Димы Ковпака</p>
					<p>2. Получаешь пошаговый план действий</p>
					<p>3. Внедряешь, получаешь результаты</p>
				</li>
				<li>
					<h3 role="heading" aria-level="3">Сессии вопрос-ответ раз в месяц <br>в режиме онлайн</h3>
					<p>Каждый месяц Дима 3 часа разбирает ситуации участников, дает рекомендации и отвечает на вопросы, которые волнуют именно тебя.</p>
				</li>
			</ul>
			<div class="text-center">
				<button class="btn btn-red">Подать заявку</button>
			</div>
		</div>
	</div>
</div>