

<div class="section quadrant">

	<div class="layout layout-x ">
		<div class="paginator paginator-black"><span>04</span></div>
		<div class="layout layout-s">
			<div class="section__content">
				<h2 class="title__section" role="heading" aria-level="2">Если ты ...</span></h2>
				<ul class="quadrant__list">
					<li class="quadrant__item quadrant__item_1">
						<div class="quadrant__num quadrant__num_1 ">01</div>
						<div class="quadrant__text">
							<p>Уперся в  бетонный потолок и не знаешь, как двигаться дальше</p>
						</div>
					</li>
					<li class="quadrant__item quadrant__item_2">
						<div class="quadrant__num quadrant__num_2">02</div>
						<div class="quadrant__text">
							<p>Понимаешь, что что-то упускаешь, поэтому бизнес растет не так быстро</p>
						</div>
					</li>
					<li class="quadrant__item quadrant__item_3">
						<div class="quadrant__num quadrant__num_3">03</div>
						<div class="quadrant__text">
							<p>Чувствуешь, что для роста не хватает инструментов, энергии, вовле&shy;чения</p>
						</div>
					</li>
					<li class="quadrant__item quadrant__item_4">
						<div class="quadrant__num quadrant__num_4 js-ppp" ppp-data="registration">есть решение!</div>
						<div class="quadrant__text">
							<p>то тебе необходим клуб едино&shy;мышленников</p>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>