
<footer class="footer">

	<div class="layout layout-x ">
		<div class="layout layout-s">
			<div class="footer__wrap">
				<p>© 2008–2019 Дмитрий Ковпак & DreamerAcademy</p>
				{{>f-socio/f-socio}}
			</div>
			<div class="footer__wrap">
				<ul class="footer__list">
					<li><a  href="https://dimakovpak.ru/terms/" target="_blank" rel='noreferrer'>Условия оказания услуг</a></li>
					<li><a  href="https://dimakovpak.ru/terms/#cancel" target="_blank" rel='noreferrer'>Условия возврата</a></li>
					<li><a  href="https://dimakovpak.ru/privacy/" target="_blank" rel='noreferrer'>Политика конфиденциальности</a></li>
				</ul>
			</div>

		</div>
	</div>
</footer>

<!-- ppp -->
<div class="ppp ">
	<div class="ppp__shadow"></div>
	<div class="ppp__content" id="register">
		<button class="btn-close js-close"></button>
			<h2 class="title__p" role="heading" aria-level="2">Оставляй заявку  на индивидуальное собеседование</h2>
			<form action="/" method="post" class="pref__form js-validate">
				<fieldset class="pref__fieldset">
					<input class="name" type="text" name="name" id="name" placeholder="Имя">
				</fieldset>
				<fieldset class="pref__fieldset">
					<input class="phone" type="tel" name="phone" id="phone" placeholder="Номер телефона" required="">
				</fieldset>
				<fieldset class="pref__fieldset">
					<div class="filter js-filter">
						<div class="filter__text js-filter-text">
							<span>Ваша роль в бизнесе</span>
						</div>
						<input class="js-filter-input" type="hidden" value="" name="type">
						<ul class="filter__list js-filter-list">
							<li class="filter__row" data-id="0">
								<span>Руководитель</span>
							</li>
							<li class="filter__row" data-id="1">
								<span>Менеджер</span>
							</li>
						</ul>
					</div>
				</fieldset>
				<fieldset class="pref__fieldset">
					<div class="filter js-filter">
						<div class="filter__text js-filter-text">
							<span>Доход</span>
						</div>
						<input class="js-filter-input" type="hidden" value="" name="type">
						<ul class="filter__list js-filter-list">
							<li class="filter__row" data-id="0">
								<span> > 10 000$</span>
							</li>
							<li class="filter__row" data-id="1">
								<span>< 10 000$</span>
							</li>
						</ul>
					</div>
				</fieldset>


				<fieldset class="pref__fieldset">
					<button class="btn btn-red">Подать заявку</button>
				</fieldset>

			</form>
	</div>
</div>
