
<div class="section famous">
	<div class="layout  layout-x ">
		<div class="layout layout-s">
			<h2 class="title__section" role="heading" aria-level="2">Известные люди <span>о диме</span></h2>

			<div class="carusel">
				<div class="slider">
					<div class="slider__item">
						<div class="slider__header">
							<div class="slider__pic">
								<picture>
									<source srcset="static/img/content/av.webp "
														type="image/webp">
									<img src="static/img/content/av.jpg" alt="kovpak pic" class="slider__img">
								</picture>
							</div>
							<div class="slider__about">
								<p><b>Григорий Аветов</b></p>
								<p>Ректор Бизнес-школы<br/>Синергия</p>
							</div>
						</div>
						<div class="slider__content">
							<div class="slider__text">
								<p>Ключевым аспектом деятельности любого предпринимателя является поиск инструментов увеличения экономических показателей. Оборот и прибыль - это и есть наши основные метрики. В этой связи каждая работа, посвящённая раскрытию инструментов поиска новых огромных рынков, невероятно важна для российского бизнеса.</p>
								<p>Я рад, что Дмитрий Ковпак решил поделиться с нами своим опытом по построению коммуникаций с Китаем.</p>
							</div>
						</div>
					</div>
					<div class="slider__item">
						<div class="slider__header">
							<div class="slider__pic">
								<picture>
									<source srcset="static/img/content/yur.webp "
														type="image/webp">
									<img src="static/img/content/yur.jpg" alt="kovpak pic" class="slider__img">
								</picture>
							</div>
							<div class="slider__about">
								<p><b>Дмитрий Юрченко</b></p>
								<p>Сооснователь Кнопки Жизни,<br/> Акселератора онлайн-школ ACCEL, IRONMAN, MBA Сколков</p>
							</div>
						</div>
						<div class="slider__content">
							<div class="slider__text">
								<p>Бизнес с Поднебесной стал для меня отправной точкой в мир бизнеса. Мы в Азии покупали партии браслетов с тревожными кнопками для пожилых людей, далее их переупаковывали в Москве, подключали к нашему центру экстренной помощи. Так появилась Кнопка Жизни, которая с 2010 года спасла уже тысячи жизней.</p>
								<p>Вначале было очень сложно: найти производителей, договориться, доставить, растаможить... Было набито много шишек. Тогда бизнесу с Китаем никто не учил. Спасибо Дмитрию Ковпаку, что делится опытом с теми, кто идёт по нашим стопам. Благодаря этому в русскоязычном мире появляется больше полезных продуктов, и они становятся доступнее. Не ходите по тем граблям, по которым мы ходили. Читайте опыт Дмитрия и двигайтесь по гладкой дороге в масштабный бизнес с Китаем.</p>
							</div>
						</div>
					</div>
					<div class="slider__item">
						<div class="slider__header">
							<div class="slider__pic">
								<picture>
									<source srcset="static/img/content/peter.webp "
														type="image/webp">
									<img src="static/img/content/peter.jpg" alt="kovpak pic" class="slider__img">
								</picture>
							</div>
							<div class="slider__about">
								<p><b>Гил Петерсил</b></p>
								<p>Серийный предприниматель, автор, Международный спикер и Консультант по стратегическому нетворкингу</p>
							</div>
						</div>
						<div class="slider__content">
							<div class="slider__text">
								<p>Дима принёс вдохновение в нашу семью и стал мудрым учителем, когда нам нужна была формула успеха для работы в Азии. Его подлинное послание, деловая репутация, партнерские отношения, ориентированные на семью, и просто образ жизни стали основой нашей дружбы.</p>
								<p>Я очень благодарен за его наставничество по китайской деловой культуре, которая была жизненно важной для управления нашим бизнесом в Сингапуре.</p>
							</div>
						</div>
					</div>
					<div class="slider__item">
						<div class="slider__header">
							<div class="slider__pic">
								<picture>
									<source srcset="static/img/content/solo.webp "
														type="image/webp">
									<img src="static/img/content/solo.jpg" alt="kovpak pic" class="slider__img">
								</picture>
							</div>
							<div class="slider__about">
								<p><b>Мария Солодар</b></p>
								<p>Интернет маркетолог, предприниматель</p>
							</div>
						</div>
						<div class="slider__content">
							<div class="slider__text">
								<p>Работа с иностранным рынком - опасное и сложное начинание. Но все знают, какие возможности сегодня открывает сотрудничество с Китаем. Раньше все шишки необходимо было набивать самостоятельно. И как же круто, что сегодня большинство подводных камней можно обойти с помощью таких специалистов, как Дима.</p>
								<p>Он делится реальным опытом, обращает внимание на все важное и по шагам помогает читателю создать прибыльный бизнес. Рекомендую к прочтению его книгу каждому, кто решил стать на путь предпринимательства!</p>
							</div>
						</div>
					</div>
				</div>
				<div class="slider__nav">
					<button class="arrow arrow-left">
						<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 451.846 451.847" style="enable-background:new 0 0 451.846 451.847;" xml:space="preserve">
							<g>
								<path d="M345.441,248.292L151.154,442.573c-12.359,12.365-32.397,12.365-44.75,0c-12.354-12.354-12.354-32.391,0-44.744
									L278.318,225.92L106.409,54.017c-12.354-12.359-12.354-32.394,0-44.748c12.354-12.359,32.391-12.359,44.75,0l194.287,194.284
									c6.177,6.18,9.262,14.271,9.262,22.366C354.708,234.018,351.617,242.115,345.441,248.292z"></path>
							</g>
						</svg>
					</button>
					<button class="arrow arrow-right">
						<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 451.846 451.847" style="enable-background:new 0 0 451.846 451.847;" xml:space="preserve">
							<g>
								<path d="M345.441,248.292L151.154,442.573c-12.359,12.365-32.397,12.365-44.75,0c-12.354-12.354-12.354-32.391,0-44.744
									L278.318,225.92L106.409,54.017c-12.354-12.359-12.354-32.394,0-44.748c12.354-12.359,32.391-12.359,44.75,0l194.287,194.284
									c6.177,6.18,9.262,14.271,9.262,22.366C354.708,234.018,351.617,242.115,345.441,248.292z"></path>
							</g>
						</svg>
					</button>
				</div>
			</div>
		</div>
	</div>
</div>