
<div class="section hero">
	<div class="section__bg">
		<picture>
			<source srcset="static/img/content/hero_bg.webp "
			        type="image/webp">
			<img src="static/img/content/hero_bg.png" alt="autor" class="section__img">
		</picture>
	</div>
	<div class="layout layout-x ">
		<div class="right-box">
			<div class="right-box__rotate">
				<div class="right-box__content">
					<p>Закрытый клуб для предпринимателей</p>
				</div>
			</div>
			{{> socio/socio}}
		</div>
		<div class="paginator"><span>01</span></div>
		<div class="layout layout-s">
			<div class="hero__content">
				<h4 class="title__line" role="heading" aria-level="4">Как удвоить результат твоего бизнеса за год </h4>
				<h1  class="title__main" role="heading" aria-level="4">Клуб <mark>Х2</mark> с Димой Ковпаком</h1>
				<button class="btn btn-red js-ppp"  data-ppp="register">Подать заявку</button>
			</div>

			<div class="hero__footer">
				<p>Ты можешь стать участником клуба Х2, если ты:</p>
				<p><mark>Управляющий компанией</mark></p>
				<p>который уже делал оборот от 100 000$ в год</p>
			</div>
		</div>
	</div>
</div>