
.hero
	height: 100vh
	width: 100%
	// background: #333 url('../img/content/black-bg5.jpg') repeat 50% 0%
	min-height: 100vh
	padding-top: 92px // header height
	&__content
		position: relative
		padding-top: 60px
	&__footer
		position: absolute
		top: 100%
		left: 50%
		transform: translate(-50%, -50%)
		padding: 35px 40px 15px
		background-color: #fff
		border-radius: 30px
		box-shadow: 0 0 30px 20px rgba(0, 0, 0, .2)
		text-align: center
		p
			font-size: 14px
			margin-bottom: .5em
			color: $dark
			+mm
		mark
			text-transform: uppercase
			font-size: 18px
			background-color: $n
			color: $red
			letter-spacing: .1em
			+meb
	.layout
		height: 100%
	.paginator
		span
			top: 10px
			bottom: auto

.right-box
	position: absolute
	top: 0
	left: 0
	width: 40px
	bottom: 0
	&:before
		content: ''
		position: absolute
		top: 0
		left: 0
		height: 50%
		width: 1px
		background-color: #fff
	&:after
		content: ''
		position: absolute
		bottom: 0
		right: 0
		height: 50%
		width: 1px
		background-color: #fff
	&__rotate
		transform: rotate(-90deg) translate(-50vh, 0px)
		white-space: nowrap