<div class="section youget">
	<div class="youget__bg"></div>
	<div class="layout  layout-x ">
		<div class="paginator"><span>05</span></div>
		<div class="layout layout-s">
			<h2 class="title__section" role="heading" aria-level="2">Что получают <span>участники клуба</span></h2>
			<ul class="youget__list">
				<li>
					<h3 class="title__dir">Менторство</h3>
					<div class="youget__num">01</div>
					<ul class="youget__sublist">
						<li>Возможность задавать вопросы и получать решения, которые быстро и кардинально изменят ситуацию в твоем бизнесе. </li>
						<li>Поддержку и помощь в самых разных ситуациях.</li>
						<li>Разбор твоего бизнеса и экспертный взгляд со стороны</li>
					</ul>
				</li>
				<li>
					<h3 class="title__dir">Нетворкинг</h3>
					<div class="youget__num">02</div>
					<ul class="youget__sublist">
						<li>Качественное окружение. В клубе собрались только практики. </li>
						<li>Возможность обмениваться идеями и решениями, о которых не пишут в книгах.</li>
						<li>Быстрые решение и качественные инструменты ведения бизнеса</li>
					</ul>
				</li>
				<li>
					<h3 class="title__dir">Партнерство с Димой Ковпаком</h3>
					<div class="youget__num">03</div>
					<ul class="youget__sublist">
						<li>Команда, которая готова зайти в разные процессы и решить важные задачи с помощью:</li>
						<ul class="youget__tri">
							<li>денег</li>
							<li>наставничества</li>
							<li>операционных процессов</li>
						</ul>
					</ul>
				</li>
			</ul>
			<div class="text-center">
				<button class="btn btn-red">Подать заявку</button>
			</div>
		</div>
	</div>
</div>