
<div class="section format">
	<div class="meeting__bg"></div>
	<div class="layout  layout-x ">
		<div class="paginator"><span>09</span></div>
		<div class="layout layout-s">
			<h2 class="title__section" role="heading" aria-level="2">Формат участия</span></h2>
			<ul class="format__list">
				<li>
					<h3 class="format__title format--sea" role="heading" aria-level="3">business</h3>

					<div class="format__content">
						<ul class="format__sublist">
							<li><b>4 встречи в год</b> в Москве по 2 дня каждая</li>
							<li><b>12 онлайн-сессий</b> с ответами на вопросы + записи</li>
							<li><b>закрытый Telegram-чат</b></li>
						</ul>
						<div class="format__footer">
							<h3 role="heading" aria-level="3">Стоимость участия</h3>
							<p><s>15 000$</s></p>
							<p>10 000$/год или </p>
							<p>3 000$/квартал</p>
							<button class="btn btn-red js-ppp" data-ppp="registration">подать заявку</button>
						</div>
					</div>
				</li>

				<li>
					<h3 class="format__title format--yellow" role="heading" aria-level="3">business</h3>
					<div class="format__content">
						<p class="format__plus">ПАКЕТ Business</p>
						<ul class="format__sublist">
							<li><b>2 личные встречи</b> с Димой Ковпаком </li>
							<li><b>1 поездка в Китай</b> (ценность 5500$)</li>
							<li><b>индивидуальная стратегия</b> развития бизнеса от Димы Ковпака</li>
						</ul>
						<div class="format__footer">
							<h3 role="heading" aria-level="3">Стоимость участия</h3>
							<p><s>30 000$</s></p>
							<p>20 000$/год или </p>
							<p>6 000$/квартал</p>
							<button class="btn btn-red js-ppp" data-ppp="registration">подать заявку</button>
						</div>
					</div>
				</li>

			</ul>
		</div>
	</div>
</div>