
<header class="header">
	<div class="layout layout-x">
		<div class="layout layout-s">
			<div class="logo js-top">
				kovpak
				<sup>&numero;1</sup>
			</div>
			<div class="trigger">
				<button class="trigger__btn">
					<span class="line line-1"></span>
					<span class="line line-2"></span>
				</button>
			</div>
			<div class="header__wrap">
				<nav class="header__nav">
					<ul class="header__list">
						<li><a href="#">О клубе</a></li>
						<li><a href="#">Для кого</a></li>
						<li><a href="#">Варианты участия</a></li>
						<li><a href="#">Календарь</a></li>
						<li><a href="#">Как присоединиться</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
</header>