
<header class="header">
	<div class="layout layout-x">
		<div class="layout layout-s">
			<a href='#' class="logo js-top">
				kovpak
				<sup>&numero;1</sup>
			</a>
			<div class="trigger"></div>
			<div class="header__wrap">
				<nav class="header__nav">
					<ul class="header__list">
						<li><a href="#">О клубе</a></li>
						<li><a href="#">Для кого</a></li>
						<li><a href="#">Варианты участия</a></li>
						<li><a href="#">Календарь</a></li>
						<li><a href="#">Как присоединиться</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
</header>