
<div class="section directions">
	<div class="section__bg">
		<picture>
			<source srcset="static/img/content/direction_bg.webp "
			        type="image/webp">
			<img src="static/img/content/direction_bg.jpg" alt="dima kovpak" class="section__img">
		</picture>
	</div>
	<div class="layout layout-x ">
		<div class="paginator"><span>03</span></div>
		<div class="layout layout-s">
			<div class="section__content">
				<h2 class="title__section" role="heading" aria-level="2">Плотная работа<br> <span>в 4 направ&shy;лениях</span></h2>
				<ul class="directions__list">
					<li>
						<h3 class="title__dir" role="heading" aria-level="3">Продукт</h3>
						<ul class="directions__sublist">
							<li>логистика</li>
							<li>упаковка</li>
							<li>ценообразование</li>
						</ul>
					</li>
					<li>
						<h3 class="title__dir" role="heading" aria-level="3">Построение модели продаж </h3>
						<ul class="directions__sublist">
							<li>бизнес модель</li>
							<li>каналы сбыта</li>
							<li>маркетинг</li>
							<li>правильный выбор рынка </li>
						</ul>
					</li>
					<li>
						<h3 class="title__dir" role="heading" aria-level="3">Управление</h3>
						<ul class="directions__sublist">
							<li>привлечение нужных людей</li>
							<li>грамотное управление</li>
							<li>мотивация</li>
						</ul>
					</li>
					<li>
						<h3 class="title__dir" role="heading" aria-level="3">Партнерство </h3>
						<ul class="directions__sublist">
							<li>как правильно договориться с новым партнером</li>
							<li> как сделать так, чтобы благодаря партнерству бизнес вырос</li>
						</ul>
					</li>
				</ul>
				<div class="text-center">
					<button class="btn btn-red">Подать заявку</button>
				</div>
			</div>
		</div>
	</div>
</div>
