
<div class="section x2">
	<div class="section__bg">
		<picture>
			<source srcset="static/img/content/bg-pg.webp "
			        type="image/webp">
			<img src="static/img/content/bg-pg.png" alt="dima kovpak" class="section__img">
		</picture>
	</div>
	<div class="layout layout-x ">
		<div class="paginator  paginator-black"><span>08</span></div>
		<div class="layout layout-s">
			<div class="section__content">
				<h2 class="title__section" role="heading" aria-level="2">Как попасть <span>в закрытый клуб Х2?</span></h2>
				<div class="x2__wrap">
					<ul class="todo">
						<li class="todo-1">
							<div class="todo__num">01</div>
							Ты подаешь заявку
						</li>
						<li>
							<div class="todo__num">02</div>
							С тобой связывается менеджер <br>и проводит аудит бизнеса
						</li>
						<li>
							<div class="todo__num">03</div>
							Проходишь собеседование <br>с директором закрытого клуба
						</li>
					</ul>
					<ul class="todo todo-md-reverse">
						<li  class="todo-last">
							<div class="todo__num ">
								<i class="icon-check"></i>
							</div>
							Поздравляем, ты в клубе!
						</li>
						<li>
							<div class="todo__num">05</div>
							Оплачиваешь участие
						</li>
						<li class="todo-bd">
							<div class="todo__num">04</div>
							Твою кандидатуру <br>утверждает Дима Ковпак
						</li>
					</ul>
				</div>
				{{> sito/sito}}
			</div>
		</div>
	</div>
</div>